@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,300&display=swap");
@import "./colors/colors";
@import "./design/header-footer";
@import "./design/content";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Roboto;
  transition: 0.6s;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: $dark-primary-background-color;
  min-height: 590px;
}

@media (max-width: 500px) {
  header {
    justify-content: space-between;
  }
  .header > span {
    width: 0;
    display: none;
  }
}

@media (max-width: 350px) {
  #search-user {
    width: 140px;
    font-size: 13px;
  }
  .input-container {
    &:hover {
      transform: scale(1.1);
    }
  }
  .user-card {
    width: 250px;
  }
}

@media (max-width: 300px) {
  .header-title {
    font-size: 17px;
  }
  .header-gitHub-icon {
    width: 40px;
  }
}
