.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  flex-basis: 700px;
}

#search-user {
  padding: 10px;
  font-size: 16px;
  width: 230px;
  text-align: center;
  border-radius: 6px;
  border: none;
  transition: 0.8s;
  &:focus {
    outline: none;
  }
}

.input-container {
  display: flex;
  transition: 0.6s;
  &:hover {
    transform: scale(1.2);
  }
}

.input-container input {
  flex: 1;
  margin-right: -5px;
}

.input-container button {
  width: 50px;
  font-size: 14px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0 9px 9px 0;
  cursor: pointer;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $secondary-background-color;
  min-height: 280px;
  width: 270px;
  border-radius: 6px;
  color: $primary-font-color;
}

.user-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.user-repositories {
  text-align: center;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  justify-content: space-evenly;
  width: 100%;
}

.user-icon {
  width: 70px;
  height: auto;
  border-radius: 6px;
}

.user-name {
  font-size: 20px;
}
