$dark-primary-font-color: white;
$dark-secondary-font-color: black;
$dark-primary-background-color: #2b2b2b;
$dark-secondary-background-color: #313131;

$light-primary-font-color: black;
$light-secondary-font-color: white;
$light-primary-background-color: #f5f5f5;
$light-secondary-background-color: #ffffff;